<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@drawable/title"
        android:supportsRtl="true"
        android:theme="@style/Theme.A1"
        tools:targetApi="31">
        <activity
            android:name=".messagesMenu"
            android:exported="false" />

        <activity
            android:name=".BookAppointmentScreen"
            android:exported="false" />
        <activity
            android:name=".VoiceCallScreen"
            android:exported="false" />
        <activity
            android:name=".VidCallScreen"
            android:exported="false" />
        <activity
            android:name=".VideoCameraScreen"
            android:exported="false" />
        <activity
            android:name=".PhotoCameraScreen"
            android:exported="false" />
        <activity
            android:name=".BookedSessionScreen"
            android:exported="false" />
        <activity
            android:name=".EditProfileScreen"
            android:exported="false" />
        <activity
            android:name=".AddReviewScreen"
            android:exported="false" />
        <activity
            android:name=".UserFocusedScreen"
            android:exported="false" />
        <activity
            android:name=".NotificationScreen"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationBar"
            android:exported="false" />
        <activity
            android:name=".ResetPassScreen"
            android:exported="false" />
        <activity
            android:name=".ForgotPassScreen"
            android:exported="false" />
        <activity
            android:name=".TwoFactorScreen"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen"
            android:exported="false"
            android:label="@string/title_activity_register_screen"
            android:theme="@style/Theme.A1" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>